import(tools)
import(methods)
import(stats)
import(utils)

exportClasses("GeneAnswers")
exportMethods("getGeneInput", "getTestType", "getPValueT", "getGenesInCategory", "getGeneExprProfile", "getAnnLib", "getCategoryType", "getEnrichmentInfo", "setGeneInput", "setTestType", "setPValueT", "setGeneExprProfile", "setAnnLib", "setCategoryType", "setGenesInCategory", "setEnrichmentInfo")

export("categoryNet", "chartPlots", "drawTable", "geneAnnotationHeatmap", "geneAnswersBuilder", "geneAnswersChartPlots", "geneAnswersConceptNet", "geneAnswersConcepts", "geneAnswersHeatmap", "geneAnswersHomoMapping", "geneAnswersReadable", "geneAnswersSort", "geneConceptNet", "getCategoryList", "getCategoryTerms", "getConceptTable", "getDOLiteTerms", "getGOList", "getHomoGeneIDs", "getPATHList", "getPATHTerms", "getSymbols", "groupReport", "searchEntrez", "topCategory", "topCategoryGenes", "topDOLite", "topDOLiteGenes", "topGO", "topGOGenes", "topPATH", "topPATHGenes", "geneAnswersConceptRelation", "getConnectedGraph", "getMultiLayerGraphIDs", "getSingleLayerGraphIDs", "getNextGOIDs", "buildNet", "getTotalGeneNumber", "getREACTOMEPATHList", "getREACTOMEPATHTerms", "getcaBIOPATHList", "getcaBIOPATHTerms", "entrez2caBIO", "caBIO2entrez")
